@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
    text-align: center;
    height: 100vh;
}

.aboveTable {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 2em;
    align-items: center;
    margin-bottom: 1%;
}

#root html body {
    height: 100vh;
}

.App-header {
    padding: 20px;
    text-align: center;
    background-color: #074445;
}

.search-bar-container {
    margin: auto;
    width: 20vw;
}

.search-bar input {
    color: black;
    border-radius: 5px;
    margin: auto;
    width: 20vw;
}

.search-button {
    background-color: #18e9ef;
    color: #074445;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.yearDrop {
    margin-bottom: 8px;
}

.App h1 {
    font-size: 2.5rem;
    margin: 0;
}

main {
    height: 82%;
    margin-bottom: 20px;
}

body.light {
    color: #000000;
    background-color: #ffffff;
    border-color: #FFFFFF;
}

body.dark {
    color: #ffffff;
    background-color: #000000;
    border-color: #000000;
}

.theme-toggle-button {
    margin-left: 10px;
    padding: 5px 10px;
    cursor: pointer;
}
