@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Primary accent color (light blue) */
    --accent-color: #18e9ef;
    --accent-color-light: rgba(24, 233, 239, 0.6);
    --accent-color-dark: rgba(24, 233, 239, 0.8);
    --accent-color-hover: #16d1d9;
    --accent-text-color: #074445;

    /* Secondary accent color (pink) */
    --secondary-accent-color: #ff6384;
    --secondary-accent-color-light: rgba(255, 99, 132, 0.6);
    --secondary-accent-color-dark: rgba(255, 99, 132, 0.8);
    --secondary-accent-color-hover: #ff4d6d;
    --secondary-accent-text-color: #ffffff;

    /* Other colors */
    --tertiary-color: #000000;
    --search-size: 30px;

    /* Dark backgrounds */
    --dark-background-one: rgba(0, 0, 0, 0.7);
    --dark-background-two: rgba(0, 0, 0, 0.8);
    --shadow-color: rgba(0, 0, 0, 0.3);
    --shadow-size: 0 8px 32px;

    --linear-background-gradiant: linear-gradient(to bottom, #000000, var(--accent-color));

    /* Info pages */
    --max-info-page-size: 900px;
    --info-page-border-color: rgba(24, 233, 239, 0.2);

}

.App {
    text-align: center;
    height: 100vh;
}

main {
    height: fit-content;
}

.aboveTable {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 2em;
    align-items: center;
    margin-bottom: 1%;
}

.main-text {
    color: var(--accent-color);
}

#root html body {
    height: 100vh;
}

.App-header {
    display: flex;
    padding: 20px;
    text-align: center;
    background-color: var(--tertiary-color);
}

.search-bar-container {
    margin: auto;
    width: 20vw;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: center;
    border-radius: 5px;
}

.search-bar input {
    color: black;
    border-radius: 5px;
    height: var(--search-size);
    margin: auto;
    width: 20vw;
}

.search-button {
    background-color: var(--accent-color);
    color: var(--accent-text-color);
    border-radius: 5px;
    padding: 3px 10px;
    cursor: pointer;
}

.search-button:hover {
    background-color: var(--accent-color-hover);
}

.yearDrop {
    margin-bottom: 8px;
}

.App h1 {
    font-size: 2.5rem;
    margin: 0;
}

main {
    height: 100%;
}

body {
    color: #ffffff;
    background-color: #000000;
    border-color: #000000;
}

.navigator {
    margin: 16px 0;
    display: flex;
    justify-content: center;
    width: 80%;
    font-size: 1.3rem;
}

.nav-link {
    color: var(--accent-color);
    font-weight: bold;
    flex-grow: 1;
}
