@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
    text-align: center;
    height: 100vh;
}

#root html body {
height: 100vh;
}

.App-header {
    padding: 20px;
    color: #18e9ef;
    text-align: center;
    background-color: #074445;
}

.search-bar-container {
    margin: auto;
    width: 20vw;
}

.search-bar input {
    color: black;
    border-radius: 5px;
    margin: auto;
    width: 20vw;
}

.search-button {
    background-color: #18e9ef;
	color: #074445;
	border-radius: 5px;
	padding: 5px 10px;
	cursor: pointer;
}

.App h1 {
    font-size: 2.5rem;
    margin: 0;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table th, .table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

main {
    height: max-content;
}

body.light {
    color: #A8A8A8;
    background-color: #ffffff;
}

body.dark {
    color: #ffffff;
    background-color: #121212;
}

.theme-toggle-button {
    margin-left: 10px;
    padding: 5px 10px;
    cursor: pointer;
}
